# Directorios de aplicaciones
portainer/
guacd/
guacamole/
jackett/
overseerr/
plex/
prowlarr/
qbittorrent/
radarr/
shared/
sonarr/

# Dependencias
# Ignorar node_modules para evitar subir dependencias innecesarias
api-tfg/node_modules/
